.player-summary-overview{
    width: 100%;
}
.pso-sub{
    white-space: nowrap;
    width: 10%;
    font-size: 1.6em;
    padding: 5px;
    
}
.pso-sub2{
    padding: 10px;text-transform:capitalize
}
.pso-header-cell{
    font-size: 1.25em;
    padding:5px
}
.inside-overview{
    background: rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px 0;
    width: 50%;
    margin-left: 25%;
}