.player-summary-overview{
    width: 100%;
}
.pso-sub{
    white-space: nowrap;
    width: 10%;
    font-size: 1.6em;
    padding: 5px;
    
}
.pso-sub2{
    padding: 5px;
    text-transform:capitalize;
}
.pso-header-cell{
    font-size: 1.25em;
    padding:5px
}
.inside-overview{
    font-size: 15px;
    width: 70px;
    height: 90%;
    background: rgb(209, 209, 209);
    padding-top: 5px;
    color:rgb(87, 87, 87);
    padding-bottom: 5px;
    margin:auto;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
.inside-blue{
    background: #95DFFF;
    color:#0386be
}
.inside-green{
    background: #91f051;
    color:#327e00;
}
.inside-red
{
    background: rgb(240, 81, 81);
    color: rgb(155, 19, 19);
}
.inside-yellow{
    background: rgb(235, 235, 73);
    color:rgb(177, 177, 21)
}
.inside-health-h{
    background:#A0D468;
    width: 100%;
    border-radius: 5px;
    padding:5% 0
}
.inside-health-i{
    background:#EC5555;
    width: 100%;
    border-radius: 5px;
    padding:5% 0
}
.load-cell-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.load-cell-bar-red{
        width: 15px;
        border-radius: 10px 10px 0 0;
        background:linear-gradient(90deg, rgb(248, 3, 3) 0%, rgb(235, 124, 114) 100%);
        justify-self: center;
        align-self: center;
    }

.load-cell-bar{
    width: 15px;
    border-radius: 10px 10px 0 0;
   background:linear-gradient(90deg, rgba(17,149,255,1) 0%, rgba(90,181,255,1) 100%);
    justify-self: center;
    align-self: center;
}
.pso-subb2{

    justify-content: center;
    align-items: flex-end;
    height: 120px;
}