.player-summary-overview{
    width: 100%;
}
.pso-sub{
    white-space: nowrap;
    width: 10%;
    font-size: 1.6em;
    padding: 5px;
    
}
.pso-sub2{
    padding: 10px;text-transform:capitalize
}
.pso-header-cell{
    font-size: 1.25em;
    padding:5px
}
.inside-overview{
    background: rgb(221, 221, 221);
    border-radius: 5px;
    padding: 5px 0;
    width: 50%;
    margin-left: 25%;
}
.inside-blue{
    background: #95DFFF;
    color:#0386be
}
.inside-green{
    background: #91f051;
    color:#327e00;
}
.inside-red
{
    background: rgb(240, 81, 81);
    color: rgb(155, 19, 19);
}
.inside-yellow{
    background: rgb(235, 235, 73);
    color:rgb(177, 177, 21)
}
.inside-health-h{
    background:#A0D468;
    width: 100%;
    border-radius: 5px;
    padding:5% 0
}
.inside-health-i{
    background:#EC5555;
    width: 100%;
    border-radius: 5px;
    padding:5% 0
}