@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
.team-summary-header{

    width: 100%;
    height: 20%;
    font-family: 'Montserrat', sans-serif;
}
.team-summary-title{
    margin: 10px;
    margin-top:30px;
    font-size: 1.6em;
}
.player-number{
    padding:5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #1195FF;
    text-align: center;
    border-radius: 20px;
    color:white;
    font-weight: 500;
}
.coach-name{
    color: #414141;
    font-size: 1em;
    padding:5px;
    padding-left: 12px;
    padding-right: 12px;
}
.player-coach{
    margin:10px;
    display: flex;
    flex-direction: row;
}
.player-namee{
    color: #414141;
    padding:5px;
    padding-left: 12px;
    padding-right: 12px;
}
.next-game-label{
    margin: 10px;
    font-size: 1em;
    font-weight: 400;
    color: #868585;
}
.team-summary-links{
    display: flex;
    flex-direction: row;
}
.team-summary-menu-item{
    text-decoration: none;
    color:#8E8E8E;
    padding:5px;
    font-weight: 500;
    margin:5px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.under-tail{
    height: 3px;
    background: #F1F3F5;
    padding:0 20px;
    border-radius: 3px 3px 0 0;
}

@media  (max-width:600px) {
    .team-summary-title{
        font-size: 1em;
    }
    .player-namee{
        font-size: .8em;
        padding-left: 8px;
        padding-right: 8px;
    }
    .coach-name{
        font-size: .8em;
        padding-left: 0;
        padding-right: 8px;
    }
    .player-number{
        font-size: .6em;
        padding:5px;
        padding-left:8px;
        padding-right: 8px;
    }
    .next-game-label{
        font-size: .9em;
    }
    .team-summary-menu-item{
       font-size: .5em;
    }
    .under-tail{
        padding:0 10px;
    
    }
}