.overview{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 33px -2px #E9F5FF; 
box-shadow: 0px 0px 33px -2px #E9F5FF;
    margin-top: 5%;
    border-radius: 10px;
    padding-bottom: 20px;
    background: white;
    
}
.overview-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #E6E9EE;
}
.overview-table th{
    border: 1px solid #E6E9EE;

}
.overview-table td{
    border: 1px solid #E6E9EE
}
.overview-sub-table{
    width: 100%;
    font-size: .5em;
    text-align: center;
    border-collapse: collapse;
}
.table-header-cell{
    border-bottom: 0;
    font-size: .8em;
    font-weight: 500;
    padding: 0;
    font-weight: bold;
}
.athlete{
    color:#8E8E8E;
    width: 6.3%;
}
.prev-next-buttons{
    align-self: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.prev-next-button{
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    border:none;
    padding: 5px;
    background: #1195FF;
    color:white;
    transition-duration: .4s;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prev-next-button:hover{
    cursor: pointer;
    background: #1158FF;
}
.th-sub-table{
    border:1px solid #E6E9EE;
    width: 2.1%;
}
.td-sub-table{
    border: 1px solid #E6E9EE;
    width: 33.33%;
}
.sub-table-cell{
    border:1px solid #E6E9EE;
    border-bottom: 0;
    border-top:0;
    font-size: .8em;
    font-weight: 500;
    padding: 0;
    height: fit-content;
    height: 10%;
}

.attr-team-overview-red{
    width: 90%;
    height: 90%;
    background: #F3CDD1;
    padding-top: 5px;
    color:#EC5555;
    padding-bottom: 5px;
    margin:0;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
.attr-team-overview-green{
    width: 90%;
    height: 90%;
    background: #ECF7E1;
    padding-top: 5px;
    color:#A0D468;
    padding-bottom: 5px;
    margin:0;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
.attr-team-overview-yellow{
    width: 90%;
    height: 90%;
    background: #F3E6CA;
    padding-top: 5px;
    color:#F6BB42;
    padding-bottom: 5px;
    margin:0;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
.attr-team-overview-blue{
    width: 90%;
    height: 90%;
    background: #CEE1F9;
    padding-top: 5px;
    color:#5D9CEC;
    padding-bottom: 5px;
    margin:0;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
}
.prev-next{
    background: none;
    border:none;
    outline: none;
}
.left-arrow{
    transform: rotate(90deg);
}
.right-arrow{
    transform: rotate(-90deg)
}
.right-arrow:hover{
    cursor: pointer;
}
.left-arrow:hover{
    cursor: pointer;
}
@media  (max-width:600px){
    .table-header-cell{
        font-size: .5em;
    }
    .overview-sub-table{
       font-size: .3em;
    }
    .athlete{
        font-size: .8em;
    }
    .overview-table td{
        font-size: .8em;
    }
    .prev-next-buttons{
        align-self: flex-start;}
}