.team-summary-health{
    width: 100%;
    margin-top:30px;
    background: white;
    border-radius: 5px;
}
.team-summary-health-cell{
    font-size: 1em;
    padding:20px;
    border-right: 2px solid #707070;
    border-bottom: 1px solid #afafaf;
}
.injury-details{
    background:#EC5555;
    padding:3px;
    margin:3px;
    color:rgb(140, 41, 41);
    font-weight: 500;
    border:4px solid rgb(213, 0, 0);
    width: 50%;
    border-radius: 5px;
    margin-left:25%
}
.injury-details-h{
    background:#A0D468;
    padding:3px;
    margin:3px;
    color:rgb(5, 128, 24);
    font-weight: 500;
    border:4px solid rgb(51, 150, 35);
    width: 50%;
    border-radius: 5px;
    margin-left:25%
}