.team-summary-test{
    margin-top:30px;
    width: 100%;
    float: left;
}
.team-summary-test-cell{
    font-size: 1em;
    padding:10px 10px;
    color:#8E8E8E;
    width: fit-content;
    border:1px solid #E6E9EE;
   
}
.team-summary-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #E6E9EE;
}
.table-left-atr-test{
    border:1px solid #E6E9EE;
    white-space: nowrap;
    text-align: start;
}
.lock-locked{
    width:40px;
    height:40px;
    font-size: 1.5em;
    border-radius: 40px;
    border:2px solid rgb(175, 3, 3);
    padding: 5px;
    align-self: center;
    color:rgb(175, 3, 3);
    transition-duration: .3s;   
    background: white;
}
.removeRow{
    transition-duration: .2s;
}
.removeRow:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}
.lock-locked:hover{
    color: #1195FF;
    cursor: pointer;
    border-color: #1195FF;
}
.lock-unlocked{
    width:40px;
    height:40px;
    font-size: 1.5em;
    border-radius: 40px;
    border:2px solid #1195FF;
    padding: 5px;
    align-self: center;
    color:#1195FF;
    transition-duration: .3s;   
    background: white;
}
.lock-unlocked:hover{
    color: rgb(175, 3, 3);
    cursor: pointer;
    border-color: rgb(175, 3, 3);
}
.filter{
    width: 8%;
    padding:5px;
    align-self: flex-end;
    margin-right: 2%;
    border:1px solid #8E8E8E;
    border-radius: 5px;
    margin:5px;
    margin-bottom: 15px;
}
.test-measurements-button{
    font-size: 1.4em;
    border:none;
    outline: none;
    background: none;
    margin:5px;
    color:#989898;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 500;
}
.test-measurements-button:hover{
    cursor: pointer;
}
.add-reduce-tests{
    align-self: flex-end;
    width: 5%;
    margin:4px;
    border-radius: 5px;
    border:1px solid rgb(189, 187, 187);
    -webkit-box-shadow: 0px 0px 33px -2px #E9F5FF; 
    box-shadow: 0px 0px 33px -2px #E9F5FF;
    transition-duration: .3s;
    background: white;
    padding: 5px 0;
}
.add-reduce-tests:hover{
    cursor: pointer;
    background: rgb(17, 149, 255);
    color:white;
    transform: translateY(-5px);
}
.input-test{
    width: 80px
}
.add-row-label{
    transition-duration: .4s;
    color: white;
    background-color: #1195FF;
    border-radius: 100px;
    width: fit-content;
    padding: 2px 7px;
    border:1px solid #1195FF
}
.add-row-label-hidden{
    display: none;
    
}
.add-row-label:hover{
    color:black;
    cursor:pointer;
    background-color: white;
}
@media  (max-width:600px){
    .team-summary-test-cell{
        font-size: .5em;
    }
    .table-left-atr-test{
        font-size: .7em;}
}