.athlete-fill-form-wrapper{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35%;
    overflow-x: hidden;
    background-color: white;
}
.st2{
    fill:#1195FF
}
.st3{
    fill:#ffffff
}
.fill-form-player-name{
    font-size: 2em;
    width: 90%;
    text-align: start;
    margin-top:20px;
    color:#1195FF;
    align-self: center
}
.fill-form-team{
    padding:2px;
    background: none;
    border:none;
    align-self: flex-start;
    outline: none;
    width: auto;
    margin-left: 5%;
    text-align: start;
    font-size: 1.1em;
}
.training-date-label{
    align-self: center;
    font-size: 1.25em;
    font-weight: 400;
    color:#272930;  
}
.fill-form-details{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fill-form-training-date{
    border-radius: 10px;
    height: 55px;
    width: 105%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.fill-form-today{
    font-weight: 500;
    font-size: 1em;
    margin-left: 10%;
    color: #AAB2BD;
}
.fill-form-date{
    margin-right: 20px;
    font-size: 1.3em;
    color:#AAB2BD;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separator{
    width: 100vw;
    height: 3.5px;
    margin-top:40px;
    margin-bottom: 40px;
    background-color:#B9B9B9
}
.calendar-icon{
    color:black;
    margin-left: 10px;
}
.form-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.form-part-title{
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: 500;
    color: #272930;
    text-align: center;
    align-self: center;
}
.form-part-subtitle{
    font-size:1.4em;
    color: #272930;
    margin-bottom: 20px;
}

.form-part-select{
    height: 50px;
    width: 140px;
    font-size: 1.5em;
    color:#4d5157;
    border:1px solid #AAB2BD;
    background: none;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.form-part-subsubtitle{
    margin-left: 20px;
    font-size: 1.1em;
    color:#B9B9B9
}
.sub-subtitle-field{
    margin-top: 20px;
}
.slider{
    width: 100%;
    margin-top: 20px;
}
.slider-indexes{
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between
}
.slider-index{
   font-size: .8em;
   color:#6e6e6e
}
.tired{
    margin-right: 20px;
}
.fresh{
    margin-left: 20px;
}
.session-type{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    margin: 20px 0
}
.slider2::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #5895FF, #3FDFDD, #3FDFDD, #4CE53F, #4CE53F,#4CE53F,#F5C545,#F5C545,#F18231,#EE4025);
    border-radius: 15px;
}

.slider-indexes2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}
.slider-index2{
    width: 20%;
    font-size: .8em;
    color:#6e6e6e
}
.submit-athlete-form{
    margin:30px;
    padding: 8px 30px;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 60px;
    border:2px solid rgb(17,149,255);
    color:rgb(17,149,255);;
    background: none;
    transition-duration: .3s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.training-yes{
    transform: scale(2);
    margin:3vw
}
.did-label{
    font-size: 1.3em;
    text-align: center;
}
.submit-athlete-form:hover{
    margin:30px;
    padding: 8px 30px;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 60px;
    border:2px solid rgb(17,149,255);
    color:white;
    background: rgb(17,149,255);
    transition-duration: .3s;
    transform:translateX(20px)
}
.arrow-submit{
    justify-self: end;
}

.congratulation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.congratulation-button{
    font-size: 1.5em;
    padding: 15px 20px;
    font-weight: 4  00;
    background: rgb(17,149,255);
    background: linear-gradient(90deg, rgba(17,149,255,1) 0%, rgba(90,181,255,1) 100%);
    color:white;
    border-radius: 200px;
}
.top-back{
    background: #065A95;
    width: 100vw;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.back-arrow{
    font-size:2.2em;
    margin-left: 5px;
    justify-self: flex-start;
    color: white;
}
.actual-form-logo{
    width: 40%;
}
.back-arrow2{opacity: 0;}
.top-back-label{
    font-size: 1.8em;
    color:#44464c;
    justify-self: center;
}
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#ABABAB;}

.body-img{
    transform: scale(.58);
    margin-top:0
}
.st2{
    fill:red;
    transition-duration: .2s;
}
.front-back-fields{
    margin-top: 10px;
    padding:2px;
}
.but-select{
    font-size: 1em;
    font-weight: 500;
    border:none;
    background-color: transparent;
    padding:5px 10px;
    color:black;
    border:2px solid #909090
}
.ok-button{
    margin-top: 15px;
}
.ok-button:hover{
    margin-top: 15px;
}
.front-but{
    border-radius: 5px 0 0 5px;
}
.back-but{
    border-radius: 0px 5px 5px 0px;
}

.hide{
    opacity: 0;
    transition-duration: .2s;
}
.svg-front{
    display: flex;
    margin-top: 30%;
    transform: translateX(-41%) scale(1.6);
    flex-direction: column;
    transition-duration: 1s;
    
}
.svg-back{
    display: flex;
    margin-top: 30%;
    transform: translateX(41%) scale(1.6);
    flex-direction: column;
    transition-duration: 1s;
}
.severity-container{
    background-color: rgba(29, 29, 29,.6) ;
    width: 100vw;
    height: 190vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;

    
}
.how-much{
    margin-bottom: 50vh;
    background-color: white;
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.severity-range-container{
    width: 100%;
}
.injuries-list{
    margin-top: 30%;
    width: 90%;
}
.injury-in-list{
    height: 30px;
    background-color: #dfe1e0;
    border:2px solid #9d9d9d;
    border-radius: 5px;
    margin-top: 3px;
    padding:7px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.remove-injury{
    color:#262827;
    font-size: 1.5em;
    font-weight: 600;
    transform: translateX(-5px);
    transition-duration: .2s;
}
.remove-injury:hover{
    transform: translateY(-3px) translateX(-5px);
    color:black
}