.athlete-form{
    width: 100%;
}
.athlete-form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.athlete-form-logo{
    width: 100%;

    background: #1195FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2em;
    padding: 20px 0;
}
.athlete-form-player-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.athlete-form-player-photo{
    margin-top: 20px;
    height: 40vw;
    border-radius: 100%;

}
.athlete-form-player-name{
    margin-top:20px;
    font-size: 2em;

}

.display-month{
  align-self: center;
  font-size: 1.2em;
  margin-left: 20px;
}
  .athlete-form-calendar{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .calendar-wrapper{
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  .change-month-btn{
    width: 1px;
    width: 5%;
    height: 50%;
    align-self: center;
    background: none;
    border:none;
    position: absolute;
    padding: 10px;
    font-size: 1.4em;
  }
  .next-month-btn{
    right: 16px;
  }
  .prev-month-btn{
    left:0
  }
  .date-day{
    padding: 10px;
    color:black;
    border: 1px solid transparent;
    
  }
  .date-day:hover{
    
    cursor: pointer;
    border:1px solid #707070;
    flex-wrap: nowrap;
  }
  .pnb{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
    .athlete-form-weeks{
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80%;
  }
    .week-color{
      color:white;
      text-align: center;
      border-radius: 8px;
      background: #BFBFBF;
      width: 34px;
      height: 34px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    .week-days{
     font-size: 1.3em;
     padding: 10px;
}
    .week-color-center{
        width: 15px;
        height: 15px;
        background: #A4A4A4;
        border-radius: 4px;
    }
    .week-color-date{
      font-size: .7em;
      text-align: center;
      margin-top: 6px;
    }
    .fill-form-field{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top:10px;
      
    }
    .fill-form-button{
      width: 130px;
      border:none;
      background: #1195FF;
      color:white;
      padding: 7px;
      border-radius: 40px;
      font-weight: 500;
      transition-duration: .3s;
      margin-right: 20px;
      white-space: nowrap;
      justify-self: center;
    }
    .fill-form-button:hover{
      background: #0a67b3;
      cursor: pointer;
    }
    .body-fitness-training{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .athlete-training{
      justify-self: center;
      align-self: center;
      border-radius: 10px;
      width: 90%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.34); 
      box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.34);
    }
    .athlete-training-title{
      font-size: 1.4em;
      margin-top:15px;
      margin-bottom: 25px;
      margin-left: 15px;
      font-weight: 500;
    }
    .athlete-training-labels{
      width: 100%;
      display:flex;
      flex-direction: row;
      
      justify-content:space-around;
    }
    .athlete-training-label{
      font-weight: 500;
      text-align: center;
    }
    .athlete-training-values{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .athlete-training-value{
      text-align: center;
      border: none;
      outline: none;
      margin-bottom: 10px;
      font-size: .8em;
      width: 20%;
      margin: 10px;
    }
    .athlete-body-measurements{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-self: center;
      -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.34); 
      box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.34);
      border-radius: 10px;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
    .athlete-body-measurements-attributes{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .athlete-body-measurements-labels{
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }
    .athlete-body-measurements-label{
      padding-top: 5px;
      margin-top: 5px;
      font-weight: 500;
    }
    .athlete-body-measurements-values{
      display: flex;
      flex-direction: column;
      margin-right: 15px;
      width:20%;
    }
    .athlete-body-measurements-value{
      border: none;
      padding-top: 5px;
      margin-top: 5px;
      font-weight: 500;
      outline: none;
    }
    .hide-button{
      width: 10%;
      align-self: center;
      margin-top:10px;
      background: none;
      border:none;
      transition-duration: 1s;
      
    }
    .hide-button:hover{
      cursor: pointer;
    }
    .rotate-arrow{
      transition-duration: .7s;
      transform:rotate(180deg)
    }
    .month-form{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .athlete-fill-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }