@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
.dashboard-panel{
    display: flex;
    flex-direction: column;
    width: 80%; 
    background: #F1F3F5;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.match-overview{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.chart{
    width: 60%;
    margin-right: 2%;
    background: white;
    padding: 20px;
    height:90%;
    border-radius: 10px;
}
.dashboard-panel-title{
    font-size: 2em;
    align-self: flex-start;
    margin-top:18px;
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: space-around
}
.readiness{
    background: white;
    width: 38%;
    height: fit-content;
    padding: 10px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 10px;
    
}
.players-panel{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}
.player{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.player-photo{
    width: 5vw;
    height: 5vw;
    border-radius: 15px;
}
.player-about{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.player-name{
    font-size: 1.3em;
    font-weight: 500;
}
.player-injury{
    color:#747474
}
.player-mood{
    color:#747474
}
.players-label{
    align-self: flex-start;
    margin-bottom: 1%;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 4%;
}
.team-select{
    background: none;
    color:#1195FF;
    outline:none;
    border:none;
    font-size: .6em;
    margin-left: 20px;
}
.selected-tab-desktop{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom:5%;
    
}
.selected-player-desktop{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    padding-top:10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
    transition-duration: .4s;

}
.selected-player-desktop:hover{
    transform: rotateX(-20deg) translateY(-20px);

}
.selected-player-readiness-desktop{
    height: 90%;
    border-radius: 15px;
    width: 15px;
}
.selected-player-name-desktop{
    font-size: 1em;
    font-weight: 600;
    margin-top:10px
}

.injury-desktop{
    font-size: .85em;
    color:#8E8E8E;
    margin-top: 10px;
}
.user-options{
    align-self: flex-end;
    justify-self: flex-end;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}
.can-log{
    background: #62b5f8;
    color:white;
    height: 35px;
    width: 35px;
    text-align: center;
    border:1px solid #707070;
    border-radius: 30px;
    justify-self: flex-end;
    font-size: .5em;
    line-height: 38px;
    
}
.question-mark{
    font-size: .8em;;
    align-self: center;
    margin-right: 20px;
    color:grey;
    transition-duration: .3s;
}
.send-email{
    width: 180px;
    height: 50px;
    position: absolute;
    top:15%;
    right: 4%;
    background: white;
    box-shadow:
    0.3px 0.3px 5.8px rgba(0, 0, 0, 0.077),
    2px 2px 46px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.send-email-label{
    font-size: .45em;
    background: none;
    border:none;
    color:#202021
}
.question-mark:hover{
    color: rgb(48, 41, 41);
    cursor: pointer;
}
.can-log:hover{
    cursor: pointer;
}
.logout-panel{
    position: absolute;
    border:1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow:
    0.3px 0.3px 5.8px rgba(0, 0, 0, 0.077),
    2px 2px 46px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 12px;
    height: 300px;
    width: 280px;
    top: 12%;
    right: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.separator2{
    width: 100%;
    margin-top: 30%;
    border-top:1px solid #dadce0
}
.options-name{
    font-size: .5em;
    margin-top:35px;
}
.logout-button{
    background: white;
    border:1px solid #dadce0;
    padding:10px 20px;
    color:#414141;
    transition-duration: .3s;
    border-radius: 4px;
    align-items: center;
    margin-top: 35px;
}
.logout-button:hover{
    cursor: pointer;
    background: rgb(202, 201, 201);
    border-radius: 5px;;
    color:rgb(206, 206, 206)
}
@media  (max-width:600px) {

    .dashboard-panel{
        height: 50vh;
    }
    .player{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
    }
    .player-photo{
width: 0;
    }
    .player-about{
        margin-left: 1px;
        width: fit-content;
    }
    .player-name{
        font-size: .7em;
    }
    .player-injury{
        font-size: .5em ;
       
    }
    .player-mood{
        font-size: .5em;
  
    }
    .players-label{
        font-size: .8em;
    }
}