
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

.menu-container{
   
    background-color:#065A95;
    color:#8E8E8E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    width: 17%;
    padding-top: 10px;
    padding-left: 15px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.side-menu{
    margin-top: 35%;
    z-index: 2;
}
.logo{
    position: absolute;
    display: flex;
    top:-8%;
    align-content: flex-start;
    margin-bottom: 20px;
    color:white;
    align-self: center;
    z-index: 1;
}
.list-menu-anchor{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    color:#BEB9B9;
    transition-duration: .3s;
    text-decoration: none;
    white-space: nowrap
}
.list-menu-anchor:hover{
    color:#BEB9B9;
}
.menu-item-icon{
    width: 30px;
    height: 30px;
}
.list-menu-item{
    margin-left: 10px;
    width: fit-content;
}
/*.list-menu-anchor::before{
    content: "";
    width: 4px;
    color:white;
    background-color: #191B1A;
}*/
@media  (max-width:1024px) {

    .menu-container{
        font-size: 1em;
        width: 30%;
        padding-right: 0;;
        padding: 0;
    }
}
@media  (max-width:600px) {
    .menu-container{
        font-size: .6em;
        width:60%;
    }
    .list-menu-anchor{
        margin:0;
        padding-top:10px;
    }
}